@model EBuy.Web.Models.Search.SearchViewModel
@{
    ViewData["Title"] = "SearchResult";
}

<div class="d-flex justify-content-between">
    <h3>Results for @Model.Name:</h3>
    <div class="dropdown show">
        <a class="btn text-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Name</a>
            <a class="dropdown-item" href="#">Rating</a>
            <a class="dropdown-item" href="#">Price Asc.</a>
            <a class="dropdown-item" href="#">Price Desc.</a>
        </div>
    </div>
</div>

<hr />

@if (Model.Products.Count == 0)
{
    <p>Sorry, we couldn't find anything matching @Model.Name. :(</p>
}

<div class="d-flex flex-md-wrap">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-3 mb-3 mt-3">
            <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                <img src="@product.ImageUrl" class="w-100 h-75" />

            </a>
            <div class="rating">
                @for (int i = 1; i <= 5; i++)
                {
                    if (product.Rating >= i)
                    {
                        <span class="fa fa-star checked" id="star@(i)"></span>
                    }
                    else if (i - product.Rating <= 0.5)
                    {
                        <span class="fa fa-star checked" id="star@(i)"></span>
                    }
                    else
                    {
                        <span class="fa fa-star" id="star@(i)"></span>
                    }
                }
            </div>
            <div>
                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="text-black-50">
                    <br />
                    <span class="mt-1">@product.Name</span>
                    <br />
                    <span class="mt-1">$@product.Price</span>
                </a>
            </div>
        </div>
    }
</div>