@using EBuy.Web.Areas.Admin.Models.Users
@model UserListModel

@{
    ViewData["Title"] = "Users";
}

<h4>Users Info: </h4>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Email
            </th>
            <th>
                Username
            </th>
            <th>
                Registered On
            </th>
            <th>
                Last Online
            </th>
            <th>
                Purchases
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>@user.RegisteredOn</td>
                <td>@user.LastOnline</td>
                <td>
                    <a asp-area="Admin" asp-controller="Users" asp-action="Details" asp-route-username="@user.UserName">
                        @user.PurchaseHistoryCount <span class="btn-link ml-3 text-danger">Details</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>