@model EBuy.Web.Models.Products.ProductDetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="container d-flex justify-content-between mt-5 mb-5">
    <img class="w-50" src="@Model.ImageUrl" />
    <div class="container">
        <h1>@Model.Name</h1>
        <p class="font-weight-light">Currently in stock: @Model.InStock</p><br />
        <div class="rating">
            @for (int i = 1; i <= 5; i++)
            {
                if (Model.Rating >= i)
                {
                    <span class="fa fa-star checked" id="star@(i)"></span>
                }
                else if (i - Model.Rating <= 0.5)
                {
                    <span class="fa fa-star checked" id="star@(i)"></span>
                }
                else
                {
                    <span class="fa fa-star" id="star@(i)"></span>
                }
            }
        </div>
        <br />
        <span>$@Model.Price</span><br /><br />
        <hr />
        <p>@Model.Description</p><br />
        <hr />
        <form class="form-group w-25" method="post" asp-area="" asp-controller="ShoppingCart" asp-action="Add">
            <label>Quantity</label>
            <div class="d-flex justify-content-between">
                <div class="d-flex border h-25">
                    <button class="btn bg-white" id="quantity-decrement" type="button">-</button>
                    <input class="quantity border-0" id="quantity" type="number" name="quantity" value="1" />
                    <button class="btn bg-white" id="quantity-increment" type="button">+</button>
                </div>
                <input hidden="hidden" name="name" value="@Model.Name" />
                <input hidden="hidden" name="imageUrl" value="@Model.ImageUrl" />
                <input hidden="hidden" name="price" value="@Model.Price" />
                <button id="add-to-cart" class="btn btn-danger text-light ml-5 w-100" type="submit">Add to Cart</button>
            </div>
        </form>
    </div>
</div>

<div class="col-12 mt-5">
    <ul class="nav nav-tabs">
        <li class="active">
            <a class="nav-link btn btn-link text-dark" data-toggle="tab" href="#home">Product Info</a>
        </li>
        <li>
            <a class="nav-link btn btn-link text-dark" data-toggle="tab" href="#menu1">Comments</a>
        </li>
        <li>
            <a class="nav-link btn btn-link text-dark" data-toggle="tab" href="#menu2">Delivery</a>
        </li>
    </ul>

    <div class="tab-content mt-3 mb-3">
        <div id="home" class="tab-pane fade in active">
            <div class="col-12 d-flex text-center">
                @Model.Description
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div id="comments">
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <input id="username" type="hidden" name="username" value="@User.Identity.Name" />
                <input id="productId" type="hidden" name="productId" value="@Model.Id" />
                <textarea id="content" class="float-xl-none form-control mb-2" name="content"></textarea>
                <button id="add-comment" class="btn btn-danger text-light">Comment</button>
            }
            else
            {
                //TODO: Redirect to same page after login
                <div class="container text-center">
                    <a class="nav-link btn btn-link text-dark border" asp-area="Identity" asp-page="/Account/Login">
                        Log in to post a comment
                    </a>
                </div>
            }
        </div>
        <div id="menu2" class="tab-pane fade">
            <p>Delivery info.</p>
        </div>
    </div>
</div>

<script src="~/js/productDetails.js" asp-append-version="true"></script>
<script src="~/js/comments.js" asp-append-version="true"></script>