@using EBuy.Web.Areas.Admin.Models.Messages
@model MessageListModel

@{
    ViewData["Title"] = "Messages";
}

<h3 class="text-center">Pending messages:</h3>
<hr />

@foreach (var message in Model.Messages)
{
    <div class="container p-2">
        <div class="border p-2 d-flex justify-content-between bg-white">
            <div class="col-2"><h6 class="mt-2">Subject:</h6> @message.Subject</div>
            <div class="col-2"><h6 class="mt-2">Date: </h6> @message.SubmissionDate</div>
            <div class="col-2"><h6 class="mt-2">Client:</h6> @message.Name</div>
            <div class="col-2"><h6 class="mt-2">Email: </h6> @message.Email</div>
            <div class="col-2"><h6 class="mt-2">Responded: </h6> @message.ReplierUserName</div>
        </div>
    </div>
}