@model EBuy.Web.Models.Categories.CategoryViewModel

@{
    ViewData["Title"] = "Products";
}

<h1 class="text-center mb-5">@Model.Name</h1>

<div class="d-flex flex-md-wrap">
    @foreach (var product in Model.Products)
    {
        <div class="w-25 mb-4">
            <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                <img src="@product.ImageUrl" class="w-100 h-75" />
                <span class="mt-1">Rating: @product.Rating</span>
                <br />
                <span class="mt-1">@product.Name</span>
                <br />
                <span class="mt-1">$@product.Price</span>
            </a>
        </div>
    }
</div>